// color
$primary-color: #4b75b9;


// navbar
$navbar-height: 3.5rem;

// sidebar
$sidebar-bg: #f8f9fa;
$sidebar-padding-x: .5rem;
$sidebar-boxshadow: inset -1px 0 0 rgba(0, 0, 0, .1);
$sidebar-list-item-bg: #fff;


// z-index
$zindex-navbar: 100;

// animation
$animation-transition: .2s;

