// color
$base-color: #f4f4f2 !default;
$main-color: #495464 !default;
$success-color: #23ac0e !default;
$faild-color: #a52175 !default;

$success-darken-color: darken(#23ac0e, 15%) !default;
$faild-darkn-color: darken(#a52175, 15%) !default;

$white: #ffffff !default;
$black: #000000 !default;

// spacer
$space-xs: .5rem;
$space-sm: 1rem;
$space-md: 3rem;
$space-lg: 5rem;

// font size
$font-sm: 1rem;
$font-md: 1.4rem;
$font-lg: 2em;

// font width
$font-wd-sm: 200;
$font-wd-md: 400;
$font-wd-lg: 400;

// navbar
$navbar-height: 70px !default;

// icon size
$form-icon-height: 70px;
$form-icon-width: 70px;

// tasks
$task-title-font-size: 1.4rem !default;

// sidebar
$sidebar-bg: #f8f9fa !default;
$sidebar-padding-x: .5rem !default;
$sidebar-boxshadow: inset -1px 0 0 rgba(0, 0, 0, .1) !default;

// sidebar list
$sidebar-list-item-bg: #fff !default;

// z-index
$zindex-navbar: 100 !default;

// animation
$animation-transition: .2s !default;

// form
$form-padding: 0 .8rem !default;
$form-adjust-bottom: 1rem !default;

// breakpoints
$breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
) !default;

// material shadow
$m-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4) !default;
