.task-list {
    width: 75%;
    min-height: 100vh;
    transition: $animation-transition;
    margin: 0 auto;
}

.task-title {
    font-size: $task-title-font-size;
}

.task-create-button {
    position: fixed;
    right: 80px;
    bottom: 40px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
