.navbar {
  height: 3.5rem;
}

.sidebar .nav-item:hover {
  background-color: #fff;
}
.sidebar .nav-item .nav-link {
  color: #000;
}

.task-view {
  width: auto;
  max-width: 1200px;
}

/* see here: https://jp.vuejs.org/v2/guide/transitions.html */
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.2s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}