body {
    background-color: $base-color;
    height: 10000000px;
}

//  reset default button style
button {
    background: none;
    border: none;
    outline: none;
    appearance: none;

    &:focus {
        outline: 0;
    }
}

// Bootstrapのmodal表示時にスクロールバーが表示
// されていない状態でもpadding-rightが付与される
// 現象の対処(vueのmountedで付与)
.fix-modal-padding {
    padding-right: 0 !important;
}
