body {
    background-color: $base-color;
}

//  reset default button style
button {
    background: none;
    border: none;
    outline: none;
    appearance: none;

    &:focus {
        outline: 0;
    }
}
