.navbar {
    z-index: $zindex-navbar;
    background-color: $main-color;
    .nav-item {
        font-size: $font-md;
    }

    .navbar-brand {
        font-size: $font-lg;

        .brand-icon {
            height: $brand-icon;
            padding-bottom: .1rem;
        }
    }
}

.navbar-top {
    background-color: $main-color;
}

.navbar-main {
    background-color: $main-color;
    height: $navbar-top-height;

    .toggle-sidebar-icon {
        color: $white;
        cursor: pointer;
        font-size: $toggle-sidebar-icon;
    }
}

.sidebar-toggle {
    border-radius: 3px;
    padding-top: 5px;

    &:hover {
        background-color: rgba($white, 0.2);
    }
}
