.sidebar {
    min-width: 15%;
    max-width: 15%;
    background-color: $sidebar-bg;
    transition: all 0.3s;

    &.hide {
        margin-left: -15%;
    }

    .sidebar-body {
        margin-top: $space-sm;
    }

    .nav-item {
        font-size: .9rem;
        cursor: pointer;

        &:hover {
            background-color: $sidebar-list-item-bg;
        }

        .nav-link {
            color: $black;
        }

        .menu-icon{
            font-size: .8rem;
        }
    }
}

