.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: $sidebar-bg;
    box-shadow: $sidebar-boxshadow;

    .sidebar-sticky {
        position: relative;
        top: 0;
        height: calc(100vh - #{$navbar-height});
        overflow-x: hidden;
        overflow-y: auto;
    }

    .nav-item {
        cursor: pointer;

        &:hover {
            background-color: $sidebar-list-item-bg;
        }

        .nav-link {
            color: #000;
        }
    }
}

