.sidebar {
    min-width: 250px;
    max-width: 250px;
    background-color: $sidebar-bg;
    box-shadow: $sidebar-boxshadow;
    transition: all 0.3s;

    &.active {
        margin-left: -250px;
    }

    .sidebar-body {
        margin-top: $space-sm;
    }

    .nav-item {
        cursor: pointer;

        &:hover {
            background-color: $sidebar-list-item-bg;
        }

        .nav-link {
            color: $black;
        }
    }
}

