.task-list {
    width: $task-min-width;
    min-height: $task-min-height;
    transition: $animation-transition;
    margin: 0 auto;

    .nav-item:last-child {
        margin-bottom: $space-md;
    }
}

@include mq-down (md) {
    .task-list {
        width: 100%;
        padding: $space-xs;
    }
}

.task-title {
    font-size: $task-title-font-size;
    max-width: 100%;
}

.task-complite-circle {
    vertical-align: middle;
    margin-right: $space-xs;
    border: 1px solid $main-color;
    border-radius: 50%;
    width: $task-circle-size;
    height: $task-circle-size;
    cursor: pointer;

    &:hover {
        background-color: $main-color;
    }
}

.task-complite-check {
    margin: $task-check-space;
    font-size: $task-check-size;
    color: $white;
}

.task-create-button {
    position: fixed;
    right: 80px;
    bottom: 40px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

@include mq-down (md) {
    .task-create-button {
        right: 20px;
        bottom: 20px;
    }
}
